.color h2 {
  font-weight: lighter;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.color .description {
  top: 20px;
  left: 30px;
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.color {
  background-color: rgb(40, 40, 44);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.color img {
  width: auto;
  height: 40%;
  display: block;
  object-fit: cover;
}

.color button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px;
  margin: 20px;
  margin-left: 40px;
  font-family: var(--dosis-font);
  color: rgb(19, 19, 19);
}

.color button:focus {
  outline: 0;
}

.color .silver {
  background-image: url("/assets/images/newbutton-light.jpg");
}

.color .grey {
  background-image: url("/assets/images/newbutton-dark.jpg");
}

.color .red {
  background-image: url("/assets/images/newbutton-red.jpg");
}

@media (max-width: 750px) {
  .color img {
    height: 400px;
    transform: scale(1.1);
  }
  .color .buttons {
    bottom: 30px;
    position: absolute;
    display: flex;
  }
  .color button {
    width: 60px;
    height: 60px;
    align-items: center;
  }
  .color .description {
    width: 100%;
    top: 0;
    left: 0;
    padding: 60px;
    text-align: center;
  }
}

@media (min-width: 751px) {
  .color .image-shown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .color .buttons {
    flex-direction: row;
    bottom: 30px;
    position: absolute;
    align-self: center;
  }
  .color img {
    height: 400px;
    transform: scale(1.4);
  }
}

@media (min-width: 1025px) {
  .color .image-shown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .color img {
    width: 60%;
    height: auto;
    object-fit: cover;
  }
  .color button {
    height: 100px;
    width: 100px;
  }
}
