/* Temporary font support for my windows firefox */
/* @font-face {
    font-family: 'Helvetica';
    src: url('/assets/fonts/Helvetica-Light.woff2') format('woff2'),
        url('/assets/fonts/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

/* BASE */
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --helvetica-font:'Helvetica', sans-serif;
    --dosis-font: 'Dosis', sans-serif;
}

h1, h2, h3, h4 {
    font-family: var(--helvetica-font);
    color: white;
}

p {
    font-family: var(--dosis-font);
    color: white;
}

/* HERO STYLING */
.hero {
    height: 100vh;
    background-color: #13243c;
    overflow: hidden; /* Avoid hero img height from being larger than 100vh */
    /* background-color: tomato; */
}

.hero img {
    width: 100%;
    height: calc(360px + 80vw);
    object-fit: cover;
    object-position: left;
    object-position: -260px -10vw;
}

@media (min-width: 648px) {
    .hero img {
        object-position: unset;
        height: calc(150px + 80vw);
    }
}

@media (min-width: 1350px) {
    .hero img {
        height: 100vh;
    }
}

.hero-content {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title {
    margin: 50px 30px;
}

.hero-title h2 {
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.1em;
    opacity: 0.8;
}

.hero-title h1 {
    font-weight: 300;
    font-size: 46px;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
}

.hero-title p {
    opacity: 0.8;
    letter-spacing: 0.1em;
}

.hero-title div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.hero-title .line-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    margin-top: 0px;
    margin-right: 0.2em;
    /* margin: 0px 5px; */
}

.line-wrapper div {
    margin-top: 0px;
    margin: 1px;
    width: 26px;
    height: 1px;
    /* margin-bottom: 1em; */
    background-color: white;
    
}

.hero-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 10px;
    /* background-color: blue; */
}

.hero-bottom p {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 1em;
    opacity: 0.8;
}

.hero-bottom p:last-child {
    /* writing-mode: horizontal-tb; */
    /* writing-mode: sideways-lr; */
    transform: rotate(-90deg);
    letter-spacing: 0.7em;
    opacity: 0.6;
    width: 22px;
}

@keyframes arrow {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    30% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}

.arrow {
    position: absolute;
    z-index: 500;
}

.arrow-animated {
    animation-name: arrow;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

/* MERCH */



/* FOOTER */