.merch h2 {
  position: absolute;
  z-index: 1;
  color: white;
  padding-top: 40px;
  padding-left: 50px;
  font-size: 1.8rem;
  font-weight: lighter;
}

.merch .row {
  display: flex;
}

.merch .row > div {
  flex: 33.33%;
}

.merch img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;

  background: linear-gradient(
    0.1deg,
    rgb(14, 14, 14) 20%,
    rgb(31, 30, 30) 40%,
    rgb(16, 15, 15) 100%
  );
  transition: 0.7s;
}

.merch .column {
  position: relative;
  background: rgb(14, 14, 14);
}

.merch .content {
  color: white;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0.015em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  opacity: 0;
  font-family: var(--dosis-font);
  transition: 0.7s;
}

.merch .column:hover .content {
  opacity: 1;
}

.merch .column:hover > img {
  opacity: 0.5;
}

@media (max-width: 750px) {
  .merch .row {
    flex-direction: column;
  }
  .merch h2 {
    padding: 30px;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
