.fly-section {
  display: flex;
  align-items: flex-end;
}

.fly-section img {
  width: 100%;
  height: calc(360px + 50vw);
  object-fit: cover;
  object-position: center;
  object-position: -200px;
  vertical-align: middle;
  /* object-position: -260px -10vw; */
}

.mini-newsletter-wrapper {
  position: absolute;
  padding: 30px 20px;
  display: flex;
  flex-direction: column-reverse;
  height: calc(360px + 50vw);
  justify-content: space-between;
  transition: 0.2s;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
}

.mini-newsletter-wrapper button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  width: 140px;
  font-weight: 200;
  letter-spacing: 0.15em;
  padding: 8px;
  font-size: 16px;
  transition: 0.2s;
}

.mini-newsletter-wrapper button:focus, .mini-newsletter-wrapper input:focus {
  outline: none;
}

/* .mini-newsletter-wrapper button:hover {
  background-color: rgba(22, 33, 51, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
} */

.mini-newsletter-wrapper input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  letter-spacing: 0.15em;
  font-size: 16px;
  font-weight: 200;
  font-family: var(--helvetica-font);
  height: 8px;
  padding: 6px 1px;
  width: 0;
  opacity: 0;
  transition: 0.4s;
  margin-top: 0px;
}

.mini-newsletter-wrapper .input-visible {
  width: 100%;
  margin-top: 24px;
  opacity: 1;
  height: 31px;
}

.mini-newsletter-wrapper input::placeholder {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 0.2em;
  opacity: 0.6;
}

.mini-newsletter-text h2 {
  font-weight: 300;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.1em;
  /* display: none; */
}

.mini-newsletter-text p {
  /* display: none; */
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.05em;
}