.form-bg {
  background-image: url("/assets/images/cartinifiedMobil.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}

.form-bg h2 {
  font-family: var(--helvetica-font);
  font-weight: 300;
  font-size: 1.8em;
  color: white;
  text-align: center;
}

.form-bg form {
  display: flex;
  flex-direction: column;
  padding: 40px 14px 20px;
}

/* NEWSLETTER INPUT EMAIL */
.email {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

input[type="email"] {
  width: 100%;
  padding: 12px 2px;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
  letter-spacing: 0.15em;
  font-weight: 200;
  font-family: var(--helvetica-font);
}

.email input:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.6; /* Firefox */
  font-family: var(--helvetica-font);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  opacity: 0.6; /* Firefox */
  font-size: 10px;
  font-family: var(--helvetica-font);
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  opacity: 0.6; /* Firefox */
  font-size: 10px;
  font-family: var(--helvetica-font);
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/* NEWSLETTER BUTTON */
button[type="submit"] {
  font-family: var(--dosis-font);
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  color: white;
  width: 120px;
  padding: 8px;
  text-decoration: none;
  border: 1px solid white;
  background-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 0.15em;
  margin-left: 12px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.check-terms {
  color: white;
  font-family: var(--helvetica-font);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.03em;
  padding-top: 16px;
  opacity: 0.9;
  display: flex;
  align-items: flex-start;
}

.check-terms a {
  color: white;
}

input[type="checkbox"] {
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

/* NEWSLETTER MEDIA */
@media only screen and (min-width: 768px) {
  .form-bg {
    background-image: url("/assets/images/cartinified.jpg");
    display: flex;
    justify-content: flex-end;
  }
  .form-bg h1 {
    font-size: 3em;
  }
  ::placeholder {
    font-size: 14px;
  }

  .form-bg form {
    padding: 100px 80px 20px;
  }
}
