.specs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
  background-color: rgb(13, 13, 13);
  position: relative;
}

.spec-desc {
  top: 30px;
  left: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  font-size: 16px;
  font-weight: 200;
  z-index: 1;
}

.mobile {
  display: none;
  color: white;
  text-align: center;
}

.mobile ul {
  padding: 0;
  margin: 0;
}

.mobile li {
  list-style: none;
  font-size: 16px;
  padding: 14px;
  font-family: "Dosis";
  font-weight: 200;
  text-align: left;
}

.mobile ul li::before {
  content: attr(data-icon);
  font-size: 1.25em;
}

.specs-container {
  width: 100%;
  position: relative;
}

.specs-container img {
  width: 100%;
  height: 74vh;
  object-fit: cover;
  object-position: center;
  object-position: -60px;
}

.spec-title {
  font-weight: lighter;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.hotspot {
  display: none;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  animation: pulse 2.5s infinite;
  cursor: pointer;
}

.door {
  left: 57%;
  bottom: 65%;
}

.motor {
  left: 25%;
  bottom: 32%;
}

.interior {
  left: 52%;
  bottom: 40%;
}

.turbo {
  left: 65%;
  bottom: 38%;
}

.window {
  left: 34%;
  bottom: 45%;
}

.door::before {
  content: url(/assets/images/door.png) " " attr(text);
}

.motor::before {
  content: url(/assets/images/motorpic.png) " " attr(text);
}

.interior::before {
  content: url(/assets/images/seat.png) " " attr(text);
}

.turbo::before {
  content: url(/assets/images/turbo.png) " " attr(text);
}

.window::before {
  content: url(/assets/images/aero.png) " " attr(text);
}

.hotspot::before {
  width: max-content;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 200;
  letter-spacing: 0.05em;
  font-family: "Dosis";
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  padding: 20px;
  font-size: 18px;
  border-radius: 2px;
  display: none;
  white-space: pre-line;
}

.hotspot::after {
  content: "";
  border-color: transparent transparent #cdd5e2;
  border-width: 0 8px 6px;
  border-style: solid;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.hotspot:hover::before,
.hotspot:hover::after {
  display: block;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #cdd5e2;
  }
  60% {
    box-shadow: 0 0 0 4px #162133;
  }
  90% {
    box-shadow: 0 0 0 10px transparent;
  }
}
@media only screen and (max-width: 400px) {
  .spec-desc {
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .spec-desc {
    font-size: 18px;
    letter-spacing: 0.05em;
  }
  .hotspot {
    padding: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .mobile {
    display: block;
  }
  .door::before,
  .window::before,
  .motor::before,
  .interior::before,
  .turbo::before {
    content: attr(text);
    font-size: 12px;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .mobile {
    display: block;
  }

  .mobile li {
    font-size: 20px;
  }
}

@media only screen and (min-width: 550px) {
  .specs-container img {
    width: 100%;
    height: 100%;
    margin-top: 0;
    object-fit: unset;
    object-position: 0px;
  }

  .spec-desc {
    left: 20px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: 200;
  }

  .hotspot {
    display: initial;
  }

  .specs {
    height: 100vh;
  }
}
